@import '~node_modules/modern-normalize/modern-normalize.css';

.hidden {
  display: none;
}

.loader {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.cat-info img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

.cat-info {
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 20px 0;
    }
  }
  